.saved-passwords {
    & {
        display: flex;
        flex-wrap: wrap;
    }

    .item {
        background-color: #ccc;
        padding: 35px 10px 10px;
        width: 13%;
        min-width: 235px;
        margin-right: 2px;
        margin-bottom: 2px;
        position: relative;
    }

    li {
       margin-bottom: 10px;
    }

    .password {
        display: flex;
        align-items: center;
    }

    .see-password {
        cursor: pointer;
    }

    .cross {
        position: absolute;
        top: 10px;
        right: 10px;
    }
}